<ion-header>

  <ion-navbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="filterContacts($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="contacts; else noContactsBlock">

    <ion-list>
      <ng-container *ngFor="let contactItem of contactsList;index as i">
        <ion-item on-tap="locateContactMap(contactItem.id)" text-wrap>
          <ion-avatar item-start>
            <img src="assets/imgs/profile/no_image.png">
          </ion-avatar>
          <div *ngIf="contactItem.name;then showName else showInfo"></div>
          <ng-template #showName>
            <h2>{{contactItem.name}}</h2>
            <p>{{contactItem.device_model}}</p>
          </ng-template>
          <ng-template #showInfo>
            <h2>{{contactItem.device_model}}({{contactItem.device_manufacturer}})</h2>
          </ng-template>
          <h3>{{contactItem.date}}</h3>
        </ion-item>
      </ng-container>
    </ion-list>

  </div>

  <ng-template #noContactsBlock>

    <div class="contacts_empty">
      Agregue nuevos contactos a su lista.
    </div>

  </ng-template>

</ion-content>

<ion-footer>

  <ion-footer>
    <ion-row>
      <ion-col no-padding>
      </ion-col>
      <ion-col no-padding>
        <button no-margin ion-button full large color="light" (click)="closeModal()">Cancelar</button>
      </ion-col>
    </ion-row>
  </ion-footer>
  <!--<button ion-button item-end roud (click)="closeModal()">X</button>-->

</ion-footer>