page-contacts-add-code {

    /* overrides ionitem*/
    .item-md.item-block .item-inner {
        padding-right: 0px;
        border-bottom: 1px solid #dedede;
    }
    .invalid_message{
        color: #ff0000;
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
    }

    .information_message {
        color: #d2d2d2;
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
    }
    /*overrides labels*/
    ion-label, .select-text {
        margin-left: 10px !important;
    }

    /* overrides inputs*/
    ion-input, ion-select, ion-textarea {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }

    .submit_button_container{
        padding-left: 16px;
        margin-top: 4em;
    }
}
